* {box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {font-family: Verdana, sans-serif;}

.mySlides {display: none;}
img {vertical-align: middle;}

/*logo place*/
.links img {
    width: 60px;
}

/* Navigation Bar */
.Navigation_Bar { 
    width: 100%;
 	/*background-image: /* Can add image */
    /*background-position: center;*/
    background-size: cover;
    position: relative;
    /*padding-left: 4%;
    padding-right: 4%;*/
}

/* Navigation button links */
.links {
    display: flex;
    padding-top: 1%; /* space between nav button, top  & slides*/
    padding-bottom: 1.5%;
    justify-content: space-between;
    align-items: center;
    background-color: #C4C4C4;

}

.Navigation_links {
    flex: 1;
    text-align: center;
}

.Navigation_links ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
}

.Navigation_links.active {
    border: 1px solid #ffffff;
    color: blue;

}

/*Navigation button colors*/ 
.Navigation_links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;

    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: #888383;
    position: relative;
    cursor: pointer;
    transition: 1s;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(65, 47, 47, 0.5);
}

/* Navigation Button hover */
.Navigation_links ul li a:hover {
    border: 1px solid #ffffff;
    background: #404040;
    color: white;
}
/*li.active{
    color: red;
}*/

/* Home Page */
/* Slideshow container */
.slideshow_container {
  display: flew;
  width: 100%;
  overflow: hidden;
}

/* Number text (1/7) */
.number{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
 
/* bullets */
.bullets {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*.active {
  background-color: white;
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* slides hover */

.slideshow_container {
  position: relative;
  width: 100%;
}

.slides {
  display: block;
  width: 100%;
  height: auto;
  max-height: 635px;

}


/* slides over transition*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.4);
}

.slideshow_container:hover .overlay {
  opacity: 1;
}


/* slides over words */
.slidetext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Srendib Tours Description*/
.row {
    display: flex;
    width: 90%;
    margin: auto;
    background: #C4C4C4;
    border-radius: 1rem;
    overflow: hidden;
}

.column_1, .column_2 {
    /*flex-basis: 50%; /* description column divide */
    overflow: hidden;
    backdrop-filter: blur(1px);

    
}

.column_1 {
    padding: 2% 3% 2%;

}

.column_1 h1 {
    font-size: 50px;
    color: black;
}

.column_1 p {
    color: black;
    line-height: 1.6;
    margin: 15px 0 30px;
    font-size: 18px;
    
}
.column_1 h2 {
    color: black;
    line-height: 1.6;
    margin: 15px 0 30px;   
   
}

.column_2{
    width: 100%;
    position: relative;
    margin: auto;
    padding: 2% 2% 2% 0%;

}

/*Srendib Tours Description Button*/
.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background-color: #888383;
    position: relative;
    cursor: pointer;
    transition: 1s;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(65, 47, 47, 0.5);
}

/*Srendib Tours Description Button hover*/
.button:hover {
    border: 1px solid #ffffff;
    background: #404040;
    color: white;
    
}

/* products */
.products {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(beach3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    text-align: center;
    padding: 100px 0;
}

.products h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* Back to Top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* Query Page */