.contact_us {
    margin: 50px auto;
    overflow: hidden;
    max-width: 700px;
    width: 100%;
    background: #C4C4C4;
    padding: 20px 50px;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    position: relative;
}

.contact_us .query_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    color: black;
    text-transform: uppercase;
}

.contact_us .query_form {
    width: 100%;
}

.contact_us .query_form .query_input {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.contact_us .query_form .query_input label {
    width: 200px;
    color: black;
    margin-right: 10px;
    font-size: 14px;
}

.contact_us .query_form .query_input .form_input,
.contact_us .query_form .query_input .form_textarea {
    width: 100%;
    outline: none;
    border: 1px solid rgb(102, 102, 102);
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 1s ease;
    background: rgba(255,255,255,0.2);
    color: black;


}

.contact_us .query_form .query_input .form_textarea {
    resize: none;
    height: 100px;
    font-size: 12px;
}

.contact_us .query_form .query_input .subject_select {
    position: relative;
    width: 100%;
    height: 40px;

}

.contact_us .query_form .query_input .subject_select select {
    appearance: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(102, 102, 102);
    background: rgba(255,255,255,0.2);
    padding: 10px 5px;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 5px;
}


.contact_us .query_form .query_input .subject_select::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 10px;
    border: 8px solid;
    border-color: rgb(161, 161, 161) transparent transparent transparent;
    pointer-events: none;
}


.contact_us .query_form .query_input input:focus,
.contact_us .query_form .query_input .form_textarea:focus,
.contact_us .query_form .query_input select:focus {
    border: 1px solid #a48f19;
    box-shadow: 10px 0px 10px rgba(65, 47, 47, 0.5);
}

.contact_us .query_form .query_input .form_button {
    width: 2opx;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px 34px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 1s;
    border-radius: 50px;
    position: relative;
    left: 325px;
    top: 35px;

    
}

.contact_us .query_form .query_input .form_button:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
}


.contact_us .query_form .query_input .form_button-submit{
    width: 2opx;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px 34px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 1s;
    border-radius: 50px;
    position: relative;
    left: 490px;
    bottom: 20px;

    
}

.contact_us .query_form .query_input .form_button-submit:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
}